.history-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  font-family: 'Roboto';
}

.time {
  margin-left: 10px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
}

.logo {
  margin-left: 10px;
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.title {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
}

.domain-url {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 16px;
}

.delete-button {
  background-color: #ffffff;
  border: 0px;
  margin-left: auto;
  margin-right: 20px;
}
